# Removing Cormobidity column for trying out random forest

In [1]:
import pandas as pd
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import warnings

df = pd.read_csv("2024Nov_HT_Phase2.csv", encoding='latin-1')

In [2]:
df = df.drop(columns=['comorbidity'])

In [3]:
df['marital_status'] = df['marital_status'].replace({'Evli': -1,'evli': -1, 'Bekar': -1,'bekar': -1})

# You can now print the updated DataFrame to check the changes
print(df['marital_status'].head())
df = df.drop(columns=['alp_combined_with_cl_po4', 'pf_index'])

0    0
1    0
2    0
3    0
4    0
Name: marital_status, dtype: object

In [4]:
df.head()

,aphp,nhph,tertiary_hp,secondary_hp,age,gender,height,weight,bmi,marital_status,...,amnesia,gallstones,KIRIKVAR,nephrolithiasis,bone_specific_alp,serum_calcium_phosphorus_ratio,third_surgery_pathology_report,fourth_surgery_pathology_report,triglycerides,hdl_cholesterol
0,0,0,0,0,0,-1,0.0,0.0,0.0,0,...,-1,-1,0,-1,0,0,0,0,0,0
1,0,0,0,0,65,0,0.0,0.0,0.0,0,...,-1,-1,0,-1,0,0,0,0,0,0
2,0,0,0,0,0,-1,0.0,0.0,0.0,0,...,-1,-1,0,-1,0,0,0,0,0,0
3,0,0,0,0,0,-1,0.0,0.0,0.0,0,...,-1,-1,0,-1,0,0,0,0,0,0
4,0,1,0,0,40,1,162.0,82.0,0.0,0,...,-1,-1,0,-1,0,0,0,0,0,0

In [5]:
# Check for non-numeric columns in the entire dataset
print(df.dtypes)

# Check for missing or non-numeric values in the dataset
print(df.isnull().sum())  # To check for missing values

# Check for any string values in the entire dataset
print(df[df.map(lambda x: isinstance(x, str))])  # To check for string values

aphp                                int64
nhph                                int64
tertiary_hp                         int64
secondary_hp                        int64
age                                 int64
                                    ...
serum_calcium_phosphorus_ratio      int64
third_surgery_pathology_report     object
fourth_surgery_pathology_report     int64
triglycerides                       int64
hdl_cholesterol                     int64
Length: 71, dtype: object
aphp                               0
nhph                               0
tertiary_hp                        0
secondary_hp                       0
age                                0
                                  ..
serum_calcium_phosphorus_ratio     0
third_surgery_pathology_report     0
fourth_surgery_pathology_report    0
triglycerides                      0
hdl_cholesterol                    0
Length: 71, dtype: int64
      aphp  nhph  tertiary_hp  secondary_hp  age  gender  height  weight  bmi  \
0      NaN   NaN          NaN           NaN  NaN     NaN     NaN     NaN  NaN
1      NaN   NaN          NaN           NaN  NaN     NaN     NaN     NaN  NaN
2      NaN   NaN          NaN           NaN  NaN     NaN     NaN     NaN  NaN
3      NaN   NaN          NaN           NaN  NaN     NaN     NaN     NaN  NaN
4      NaN   NaN          NaN           NaN  NaN     NaN     NaN     NaN  NaN
...    ...   ...          ...           ...  ...     ...     ...     ...  ...
1365   NaN   NaN          NaN           NaN  NaN     NaN     NaN     NaN  NaN
1366   NaN   NaN          NaN           NaN  NaN     NaN     NaN     NaN  NaN
1367   NaN   NaN          NaN           NaN  NaN     NaN     NaN     NaN  NaN
1368   NaN   NaN          NaN           NaN  NaN     NaN     NaN     NaN  NaN
1369   NaN   NaN          NaN           NaN  NaN     NaN     NaN     NaN  NaN

     marital_status  ...  amnesia gallstones KIRIKVAR nephrolithiasis  \
0                 0  ...      NaN        NaN        0             NaN
1                 0  ...      NaN        NaN        0             NaN
2                 0  ...      NaN        NaN        0             NaN
3                 0  ...      NaN        NaN        0             NaN
4                 0  ...      NaN        NaN        0             NaN
...             ...  ...      ...        ...      ...             ...
1365              0  ...      NaN        NaN        0             NaN
1366              0  ...      NaN        NaN        0             NaN
1367              0  ...      NaN        NaN        0             NaN
1368              0  ...      NaN        NaN        0             NaN
1369              0  ...      NaN        NaN        0             NaN

     bone_specific_alp serum_calcium_phosphorus_ratio  \
0                  NaN                            NaN
1                  NaN                            NaN
2                  NaN                            NaN
3                  NaN                            NaN
4                  NaN                            NaN
...                ...                            ...
1365               NaN                            NaN
1366               NaN                            NaN
1367               NaN                            NaN
1368               NaN                            NaN
1369               NaN                            NaN

     third_surgery_pathology_report  fourth_surgery_pathology_report  \
0                                 0                              NaN
1                                 0                              NaN
2                                 0                              NaN
3                                 0                              NaN
4                                 0                              NaN
...                             ...                              ...
1365                              0                              NaN
1366                              0                              NaN
1367                              0                              NaN
1368                              0                              NaN
1369                              0                              NaN

      triglycerides hdl_cholesterol
0               NaN             NaN
1               NaN             NaN
2               NaN             NaN
3               NaN             NaN
4               NaN             NaN
...             ...             ...
1365            NaN             NaN
1366            NaN             NaN
1367            NaN             NaN
1368            NaN             NaN
1369            NaN             NaN

[1370 rows x 71 columns]

In [6]:
# df.to_excel('2024Nov_HT_Phase2.4.xlsx', index=False)